<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="none">
  <test name="Test">
  <parameter name="username" value="jack"></parameter>
  	<groups>
  	<run>
  	<include name="SystemTesting"></include>
  	</run>
  	
  	</groups>
    <classes>
      <class name="TestNgX.Firstng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
